<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wechta - Osiedle Druskienicka</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/logo.png" type="image/gif" sizes="16x16">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI style -->
    <link href="vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Slick slider -->
    <link href="vendor/slick/slick.css" rel="stylesheet">
    <!-- Range slider -->
    <!-- <link href="vendor/rangeslider/bootstrap-slider.css" rel="stylesheet"> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext"
        rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
        <a class="navbar-brand d-lg-block d-none" href="#"><img class="img-fluid header-img" src="images/logo-leaf.png"
                alt="Logo"></a>
        <a class="navbar-brand d-lg-none d-block" href="#"><img class="img-fluid my-3" src="images/logo.png"
                alt="Logo mobile"></a>
        <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul id="navbar" class="nav nav-tabs navbar-nav text-uppercase">
                <li class="nav-item">
                    <a class="nav-link active estate-link" href="#">Osiedle Druskienicka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Zdjęcia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aktualności</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                </li>
            </ul>
            <ul class="nav justify-content-around">
                <li class="navigation__phone nav-link">
                    <img src="images/phone-icon.png" alt="phone icon">
                    <a href="tel:+48618663014">61 866 30 14</a>
                </li>
                <li class="navigation__mail nav-link">
                    <img src="images/email-icon.png" alt="phone icon">
                    <a href="mailto:mieszkania@wechta.pl">mieszkania@wechta.pl</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="home-page">
        <section class="breadcrumbs mb-0">
            <h1 class="text-center font-weight-bold text-uppercase mb-0"><span
                    class="blue mr-3 font-weight-light">/</span>Budynek 2</h1>
        </section>
        <section class="main-image">
            <div class="container-fluid px-0">
                <img class="img-fluid builds-image" src="images/building-1.jpg" alt="Osiedle Druskienicka">
            </div>
        </section>
        <section class="buildings-filter">
            <div class="buildings-list py-3">
                <div class="container">
                    <nav class="row justify-content-center">
                        <ul class="nav nav-pills text-uppercase">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Budynek 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Budynek 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Budynek 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Budynek 4</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="row align-items-center my-4">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="text-center">
                                <label for="amount">LICZBA POKOI</label>
                            </div>
    
                            <div id="slider-rooms-number"></div>
                            <input type="text" id="amount-rooms" readonly class="text-center mt-2 d-block mx-auto building-details text-uppercase">
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="text-center">
                                <label for="amount">METRAŻ</label>
                            </div>
    
                            <div id="slider-meters"></div>
                            <input type="text" id="amount-meters" readonly class="text-center mt-2 d-block mx-auto building-details text-uppercase">
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="text-center">
                                <label for="amount">PIĘTRO</label>
                            </div>
    
                            <div id="slider-floor"></div>
                            <input type="text" id="floor-number" readonly class="text-center mt-2 d-block mx-auto building-details text-uppercase">
                        </div>
                        <div class="col-lg-3 col-md-6 col-12 buildings-checkbox">
                            <!-- <input name="free-apartments" type="checkbox">
                            <label for="free-apartments">
                                <span></span>tylko wolne
                            </label> -->

                            <label class="buildings-checkbox__label">Tylko wolne
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row table-responsive">
                    <table class="table buildings-table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Bud.</th>
                                <th scope="col">Nr kat.</th>
                                <th scope="col">Piętro</th>
                                <th scope="col">Pokoje</th>
                                <th scope="col">Aneks</th>
                                <th scope="col">Metraż</th>
                                <th scope="col">Cena PLN</th>
                                <th scope="col">Cenza za m<sup>2</sup></th>
                                <th scope="col">Status</th>
                                <th scope="col">Wiadomość</th>
                                <th scope="col">Karta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Bud. 2</th>
                                <td>2A.4.66</td>
                                <td>IV</td>
                                <td>4</td>
                                <td>Tak</td>
                                <td>88.59 m<sup>2</sup></td>
                                <td>813 256,20</td>
                                <td>9180,00</td>
                                <td>wolne</td>
                                <td><img  class="envelope-icon svg" src="images/envelope.png" alt="Koperta"></td>
                                <td><img class="pdf-icon svg" src="images/pdf-icon.png" alt="Ikona PDF"></td>
                            </tr>
                            <tr class="active">
                                <th scope="row">Bud. 2</th>
                                <td>2A.4.66</td>
                                <td>IV</td>
                                <td>4</td>
                                <td>Tak</td>
                                <td>88.59 m<sup>2</sup></td>
                                <td>813 256,20</td>
                                <td>9180,00</td>
                                <td>wolne</td>
                                <td><img  class="envelope-icon svg" src="images/envelope.png" alt="Koperta"></td>
                                <td><img class="pdf-icon svg" src="images/pdf-icon.png" alt="Ikona PDF"></td>
                            </tr>
                            <tr class="disable">
                                <th scope="row">Bud. 2</th>
                                <td>2A.4.66</td>
                                <td>IV</td>
                                <td>4</td>
                                <td>Tak</td>
                                <td>88.59 m<sup>2</sup></td>
                                <td>813 256,20</td>
                                <td>9180,00</td>
                                <td>wolne</td>
                                <td><img  class="envelope-icon svg" src="images/envelope.png" alt="Koperta"></td>
                                <td><img class="pdf-icon svg" src="images/pdf-icon.png" alt="Ikona PDF"></td>
                            </tr>
                            <tr>
                                <th scope="row">Bud. 2</th>
                                <td>2A.4.66</td>
                                <td>IV</td>
                                <td>4</td>
                                <td>Tak</td>
                                <td>88.59 m<sup>2</sup></td>
                                <td>813 256,20</td>
                                <td>9180,00</td>
                                <td>wolne</td>
                                <td><img  class="envelope-icon svg" src="images/envelope.png" alt="Koperta"></td>
                                <td><img class="pdf-icon svg" src="images/pdf-icon.png" alt="Ikona PDF"></td>
                            </tr>
                            <tr class="reserved">
                                <th scope="row">Bud. 2</th>
                                <td>2A.4.66</td>
                                <td>IV</td>
                                <td>4</td>
                                <td>Tak</td>
                                <td>88.59 m<sup>2</sup></td>
                                <td>813 256,20</td>
                                <td>9180,00</td>
                                <td>rezerwacja</td>
                                <td><img  class="envelope-icon svg" src="images/envelope.png" alt="Koperta"></td>
                                <td><img class="pdf-icon svg" src="images/pdf-icon.png" alt="Ikona PDF"></td>
                            </tr>
                            <tr>
                                <th scope="row">Bud. 2</th>
                                <td>2A.4.66</td>
                                <td>IV</td>
                                <td>4</td>
                                <td>Tak</td>
                                <td>88.59 m<sup>2</sup></td>
                                <td>813 256,20</td>
                                <td>9180,00</td>
                                <td>wolne</td>
                                <td><img  class="envelope-icon svg" src="images/envelope.png" alt="Koperta"></td>
                                <td><img class="pdf-icon svg" src="images/pdf-icon.png" alt="Ikona PDF"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <footer class="py-5 white">
        <div class="container">
            <div class="row justify-content-center">
                <img class="img-fluid h-100 mr-5" src="images/logo-white.png" alt="Logo Wechta Fiz">
                <div class="footer-text mt-3">
                    <p class="font-weight-bold">/ Wechta Inwestycje Spółka z o.o.</p>
                    <p>ul. Szyperska 14, 61-754 Poznań</p>
                    <p>tel:<a class="white" href="tel:0618663014">61 866 30 14</a><a class="white"
                            href="tel:0618392232"></a></p>
                    <p>e-mail: <a class="white" href="mailto:mieszkania@wechta.pl">mieszkania@wechta.pl</a></p>
                </div>
            </div>
            <div class="row pt-5 footer-copyright">
                <div class="col-12 text-center">
                    <p class="mb-0">Zakaz kopiowania materiałów bez zgody autora</p>
                    <p>Copyright © 1998-2018 Wechta Inwestycje Spółka z ograniczoną odpowiedzalnością.</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery UI JavaScript -->
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <!-- Slick Slider -->
    <script src="vendor/slick/slick.min.js"></script>
    <!-- Range Slider -->
    <!-- <script src="vendor/rangeslider/bootstrap-slider.js"></script> -->
    <!-- Custom JavaScript -->
    <script src="js/scripts.js"></script>
</body>

</html>