<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wechta - Osiedle Druskienicka</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/logo.png" type="image/gif" sizes="16x16">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI style -->
    <link href="vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Slick slider -->
    <link href="vendor/slick/slick.css" rel="stylesheet">
    <link href="vendor/slick/slick-theme.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext"
        rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
        <a class="navbar-brand d-lg-block d-none" href="#"><img class="img-fluid header-img" src="images/logo-leaf.png"
                alt="Logo"></a>
        <a class="navbar-brand d-lg-none d-block" href="#"><img class="img-fluid my-3" src="images/logo.png"
                alt="Logo mobile"></a>
        <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul id="navbar" class="nav nav-tabs navbar-nav text-uppercase">
                <li class="nav-item">
                    <a class="nav-link estate-link" href="#">Osiedle Druskienicka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Zdjęcia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Aktualności</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Kontakt</a>
                </li>
            </ul>
            <ul class="nav justify-content-around">
                <li class="navigation__phone nav-link">
                    <img src="images/phone-icon.png" alt="phone icon">
                    <a href="tel:+48618663014">61 866 30 14</a>
                </li>
                <li class="navigation__mail nav-link">
                    <img src="images/email-icon.png" alt="phone icon">
                    <a href="mailto:mieszkania@wechta.pl">mieszkania@wechta.pl</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="gallery-page">
        <section class="breadcrumbs my-5">
            <h1 class="text-center font-weight-bold text-uppercase"><span
                    class="blue mr-3 font-weight-light">/</span>Galeria</h1>
        </section>
        <section class="mb-5 blue-bg-gallery">
            <div class="container">
                <div class="row">

                    <div class="col-12 pb-4 one-gallery ">
                        <div class="news-text__read-more-btn mb-4 white pl-6">9.10.2019</div>
                        <div class="gallery-slider">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                        </div>
                        <div class="gallery-slider-nav mt-4">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-12 pb-4 one-gallery">
                        <div class="news-text__read-more-btn mb-4 white pl-6">9.10.2019</div>
                        <div class="gallery-slider-2">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                        </div>
                        <div class="gallery-slider-nav-2 mt-4">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-12 pb-4 one-gallery">
                        <div class="news-text__read-more-btn mb-4 white pl-6">9.10.2019</div>
                        <div class="gallery-slider-3">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                        </div>
                        <div class="gallery-slider-nav-3 mt-4">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                            <img class="img-fluid" src="images/img-slick-home/Layer-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer class="py-5 white">
        <div class="container">
            <div class="row justify-content-center">
                <img class="img-fluid h-100 mr-5" src="images/logo-white.png" alt="Logo Wechta Fiz">
                <div class="footer-text mt-3">
                    <p class="font-weight-bold">/ Wechta Inwestycje Spółka z o.o.</p>
                    <p>ul. Szyperska 14, 61-754 Poznań</p>
                    <p>tel:<a class="white" href="tel:0618663014">61 866 30 14</a><a class="white"
                            href="tel:0618392232"></a></p>
                    <p>e-mail: <a class="white" href="mailto:mieszkania@wechta.pl">mieszkania@wechta.pl</a></p>
                </div>
            </div>
            <div class="row pt-5 footer-copyright">
                <div class="col-12 text-center">
                    <p class="mb-0">Zakaz kopiowania materiałów bez zgody autora</p>
                    <p>Copyright © 1998-2018 Wechta Inwestycje Spółka z ograniczoną odpowiedzalnością.</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery UI JavaScript -->
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <!-- Slick Slider -->
    <script src="vendor/slick/slick.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/scripts.js"></script>
</body>

</html>